
/*Types of css selectors*/
/*Universal selector*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial ;
}
/*Element selector*/
button{
    padding: 4px;
    background-color: blue;
    color: white;
    margin: 4px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}
body {
    background-color:black; 
    color: darkgrey;
}

p { 
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    font-style: italic;

}

h1 { 
    
    color: aqua;
    font-style: normal;
} 

h2 {
    
    color: beige;
}

h3 {
    
    color: blueviolet;
}

img {
    width: 300px; 
    height: 300px;
    border-radius:50% ; 
}
/*class selector*/
.container{
    border: 1px solid red;
    width: 500px;
    height: 200px;
    background-color: rgb(24, 226, 226);
}
.logo-text{
    font: bold;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center; 
   
} 
a{
    text-decoration: none;
}

/*id selector(specifity:takes a higher preference compared to class)*/

#portfolio{
    border: 6px dotted green;
}
#contact{
     border: 2px solid red;
     margin: 2px;
     border-radius: 8px ;
}
/*attribute selector*/

a[href]{
    color: white;
}

/*descendant selector*/

div h4{
color: red;
}

div ul li {
    color: blueviolet;
}

/*child selector*/

div > p {
    color: aqua;
}

/*adjuscent sibling selector*/

h4 + nav {
    background-color: green;
    color:beige;
    
}

/*general sibling selector(follows order)*/

h3 ~ p {
    color:gray;
}

/*group selector*/

h2, h3, h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}

/*interactive state pseudo selectors*/
.cta-btn:hover {
    background-color: red;
    color:white;
}

.cta-btn:active {
    background-color: red;
    
}

input:focus {
border-color: rgb(190, 241, 5);
}
/*adding content*/

a::before {
    content:"Navigation Links:";
    color: red;
}
p::after {
    content:"citation";
    color: burlywood;
}

/*specifity
id 100
class 10
element 2
*/

